.inner-container {
    background-color: #d9d9d9;
  }
  
  .upload-pdf {
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 7px;
    border-radius: 10px;
    /* background-color: #7091F5; */
    color: #ffff;
  }